<nav class="footer__navigation">
    <!-------------------------------------------------------------------------------------------------->
    <a href="https://www.instagram.com/" class="footer__social-link">
        <img src="../../../assets/icons/instagram.svg" alt="Instagram" class="footer__social-icon">
        <p class="footer__link-label">EMEA Coffee Team</p>
    </a>
    <!-------------------------------------------------------------------------------------------------->
    <a href="https://www.instagram.com/" class="footer__social-link">
        <img src="../../../assets/icons/instagram.svg" alt="Instagram" class="footer__social-icon">
        <p class="footer__link-label">Coffee Ambassador</p>
    </a>
    <!-------------------------------------------------------------------------------------------------->
    <a href="https://www.youtube.com/channel1" class="footer__social-link"></a>
        <img src="../../../assets/icons/youtube.svg" alt="YouTube Channel 1" class="footer__social-icon">
        <p class="footer__link-label">BrewCrew Podcast</p>
    </a>
    <!-------------------------------------------------------------------------------------------------->
    <a href="https://www.youtube.com/channel2" class="footer__social-link">
        <img src="../../../assets/icons/youtube.svg" alt="YouTube Channel 2" class="footer__social-icon">
        <p class="footer__link-label">EMEA Coffee Team</p>
    </a>
    <!-------------------------------------------------------------------------------------------------->
</nav>