<nav class="footer-navigation">
    <div class="nav-container">
        <a href="https://www.instagram.com/" class="url-link">
            <img src="/assets/icons/instagram.svg" alt="Instagram" class="icon">
            <p class="url-link-text">EMEA Coffee Team</p>
        </a>
        <a href="https://www.instagram.com/" class="url-link">
            <img src="/assets/icons/instagram.svg" alt="Instagram" class="icon">
            <p class="url-link-text">Coffee Ambassador</p>
        </a>
    </div>
    <div class="nav-container">
        <a href="https://www.youtube.com/channel1" class="url-link">
            <img src="/assets/icons/youtube.svg" alt="YouTube Channel 1" class="icon">
            <p class="url-link-text">BrewCrew Podcast</p>
        </a>
        <a href="https://www.youtube.com/channel2" class="url-link">
            <img src="/assets/icons/youtube.svg" alt="YouTube Channel 2" class="icon">
            <p class="url-link-text">EMEA Coffee Team</p>
        </a>
    </div>
</nav>