<div class="header-container">
<!------------------------------------------------------------------------------------------------------->
<a href="/index.html" class="header__logo-page-link">
    <img src="/assets/logo/logo-mug-broken.svg" alt="Cold Shot Logo" class="header__logo-icon">
    <p class="header__logo-text">Cold Shot</p>
</a>
<!------------------------------------------------------------------------------------------------------->
<nav class="header__navigation">
    <!--------------------------------------------------------------------------------------------------->
    <a href="/source/html/pages/home.html" class="header__page-link">
        <img src="/assets/icons/home.svg" alt="Home" class="header__nav-icon">
        <p class="header__link-label">Home</p>
    </a>
    <!--------------------------------------------------------------------------------------------------->
    <a href="/source/html/pages/archive.html" class="header__page-link">
        <img src="/assets/icons/date.svg" alt="Archive" class="header__nav-icon">
        <p class="header__link-label">Archive</p>
    </a>
    <!--------------------------------------------------------------------------------------------------->
    <a href="/source/html/pages/masters.html" class="header__page-link">
        <img src="/assets/icons/users.svg" alt="Masters" class="header__nav-icon">
        <p class="header__link-label">Masters</p>
    </a>
    <!--------------------------------------------------------------------------------------------------->
    <a href="/source/html/pages/settings.html" class="header__page-link">
        <img src="/assets/icons/settings-slider.svg" alt="Settings" class="header__nav-icon">
        <p class="header__link-label">Settings</p>
    </a>
    <!--------------------------------------------------------------------------------------------------->
</nav>
</div>