<a href="/" class="logo-page-link">
    <img src="/assets/logo/logo-mug-broken.svg" alt="Cold Shot Logo" class="icon">
    <p class="logo-page-link-text">Cold Shot</p>
</a>

<nav class="header-navigation">
    <a href="/source/html/pages/home.html" class="page-link hover-expand">
        <img src="/assets/icons/home.svg" alt="Home" class="icon">
        <p class="page-link-text">Home</p>
    </a>
    <a href="/source/html/pages/archive.html" class="page-link hover-expand">
        <img src="/assets/icons/date.svg" alt="Archive" class="icon">
        <p class="page-link-text">Archive</p>
    </a>
    <a href="/source/html/pages/masters.html" class="page-link hover-expand">
        <img src="/assets/icons/users.svg" alt="Masters" class="icon">
        <p class="page-link-text">Masters</p>
    </a>
    <a href="/source/html/pages/settings.html" class="page-link hover-expand">
        <img src="/assets/icons/settings-slider.svg" alt="Settings" class="icon">
        <p class="page-link-text">Settings</p>
    </a>
</nav>