.footer-container{
}

.footer__navigation{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    width: 100%;
    background-color: var(--footer-background-color);
    color: var(--footer-text-color);
    border: 1px solid var(--footer-border);
    border-radius: var(--border-radius-medium) var(--border-radius-medium) 0 0;
    padding: var(--padding-medium);
    height: var(--footer-height);
}

.footer__social-link{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: var(--gap-small);
    padding: var(--padding-small);
    border: 5px solid var(--footer-background-color);
    background-color: var(--footer-background-color);
    align-self: center;
}

.footer__social-icon{
    height: var(--footer-icon-size);
    width: var(--footer-icon-size);
    filter: var(--icon-filter);
}

.footer__social-link:hover{
    background-color: var(--footer-background-color-hover);
    color: var(--footer-text-color-hover);
    border: 5px solid var(--footer-background-color-hover);
    border-radius: var(--border-radius-extra-small);
    transition: background-color 0.3s, color 0.3s;

    .footer__social-icon{
        filter: none;
    }
}

.footer__link-label{
    font-size: 0.875rem;
    text-align: center;
}

@media (max-width: 600px) {
    .footer__navigation{
        flex-direction: column;
    }
    .footer__social-link{
    margin: var(--gap-medium);
    justify-content: center;
    align-items: center;
    }

    .footer__social-icon{
        height: calc(var(--footer-icon-size) * 0.8);
        width: calc(var(--footer-icon-size) * 0.8);
    }

    .footer__link-label{
        font-size: 0.7rem;
        
    }

}